@font-face {
  font-family: "Cuprum-Regular";
  src: url("../css/fonts/cuprum.woff") format("woff"),
    url("../css/fonts/cuprum.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "Cuprum-Italic";
  src: url("../css/fonts/cuprumitalic.woff") format("woff"),
    url("../css/fonts/cuprumitalic.woff2") format("woff2");
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Cuprum-Bold";
  src: url("../css/fonts/cuprumbold.woff") format("woff"),
    url("../css/fonts/cuprumbold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}


@font-face {
  font-family: "PTSans-Regular";
  src: url("../css/fonts/ptsans.woff") format("woff"),
    url("../css/fonts/ptsans.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "PTSans-Bold";
  src: url("../css/fonts/ptsansbold.woff") format("woff"),
    url("../css/fonts/ptsansbold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}






body {
  margin: 0px;
  padding: 0px;
  font-family: "Cuprum-Regular", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.search:focus {
  background-color: #ffffff;
}

.main-header {
  background-color: #f4f7f9;
  font-size: 17px;
  line-height: 17px;

}

.main-header-top {
  background-color: #293449;
}

.main-header-logo {
  width: 220px;
  height: 47px;
  padding: 13px 55px 11px 55px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}


.shop-name {
  font-family: "Cuprum-Italic";
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

address p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-style: normal;
}

address a {

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  font-style: normal;
}

.user-navigation .login-link {

  font-size: 21px;
  line-height: 1;
  color: black;
}

.user-navigation .registration-link {

  font-size: 21px;
  line-height: 1;
  color: black;

}

.main-navigation {
  background-color: #32425c;
}

.logged-user a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation-logged a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.items-list-perfo li,
.breadcrumbs li,
.filter-option,
.logistics-list,
.site-navigation {
  list-style: none;
}


.mai-header-nav {

  background-color: #32425c;

}


.manufacturer-filter {
  font-family: "PTSans-Regular";
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.catalog-legend {
  font-family: "PTSans-Bold";
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

fieldset {
  border: none;
}

.filter-button {
  width: 140px;
  height: 38px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.items-list-perfo p {
  font-style: "PTSans-Bold";
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.items-list-perfo li {
  background-color: #ffffff;
  width: 220px;
  height: 318px;
}

.catalog-item {
  border: 1px solid #e5e5e5;
  border-style: inset;

}

.catalog-item del {
  color: #999999;
  font-size: 17px;
  line-height: 18px;

}

.catalog-item ins {
  background-image: url("../img/btn-price.svg");
  background-size: 141px 38px;
}

.button-buy {
  width: 135px;
  height: 38px;
  font-family: "Cuprum-Regular";
  font-size: 14px;
  line-height: 18px;
  padding: 12px 45px 12px 49px;
  text-transform: uppercase;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  border-radius: 5px;
}

.button-buy:hover {
  background-color: #5fbb2d;
}

.button-buy:active {
  background-color: #518534;
}

.button-bookmarks {
  font-family: "Cuprum-Regular";
  font-size: 14px;
  line-height: 18px;
  padding: 10px 32px 9px 36px;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 3px solid #63a63e;
  border-style: inset;
  color: #32425c;
  border-radius: 5px;
}

.button-bookmarks:hover {
  border: 3px solid #32425c;
}

.button-bookmarks:active {
  opacity: 0.3;
}

.about-us {
  color: #000000;
  background-color: #ffffff;

}

.index-h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;


}

.about-us p {
  font-family: "PTSans-Regular";
  font-size: 13px;
  line-height: 24px;
}

.logistics-list li {
  font-size: 18px;
  line-height: 20px;
}

.button-about {
  width: 220px;
  height: 38px;
  padding: 12px 40px 10px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

}


.button-lost {
  width: 300px;
  height: 38px;
  padding: 14px 69px 12px 63px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.main-footer {
  background-color: #32425c;
}

.main-footer-logo {
  width: 220px;
  height: 63px;
  padding: 13px 55px 11px 55px;
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}

.footer-contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  font-style: normal;

}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: #ffffff;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom a,
.footer-items-navigation a {
  color: #ffd180;
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
}

.footer-social {
  text-align: center;
}

.feedback,
.developer {
  font-size: 16px;
  line-height: 18px;
}

.footer-social,
.feedback,
.developer {
  background-color: #293449;
}



.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:active,
.main-header-top a:nth-child(n+2):active {
  color: rgba(255, 255, 255, 0.5)
}

.footer-bottom a:hover:not(.social-button),
footer nav a:hover {
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #ee3643;
}

.modal-support {
  width: 620px;
  height: 430px;
  background-color: #f4f4f4;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  text-align: center;

}

.support-button-form {
  width: 460px;
  height: 38px;

  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
